* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e9ebed;
  max-width: 1280px;
  margin: auto;
}

main {
  margin: 24px;
}
header {
  background-color: #232f3e;
}

header img {
  width: 100px;
  margin-bottom: 18px;
  margin-top: 24px;
  margin-left: 24px;
}

nav {
  background-color: #354759;
  padding: 10px 20px;
}
nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 24px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.orange-banner {
  background-color: #ff6600;
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 600;
}

.hero-section {
  background-image: url("../images/bg-image.png");
  background-repeat: repeat;
  background-attachment: center;
  background-position: cover;
  text-align: center;
  overflow: hidden;
  min-height: 190px;
}

.hero-section h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 24px;
  margin-top: 50px;
}

.hero-section p {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.container {
  margin-top: 24px;
  padding: 12px 24px;
  background-color: white;
}

.section-title {
  font-size: 18px;
  margin-block: 10px 20px;
}

.shop-link {
  color: #007185;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}

.gift-grid {
  width: 100%;
  margin-bottom: 12px;
}

.gift-item {
  display: inline-block;
  width: 23%;
  margin-right: 2%;
  vertical-align: top;
}

.gift-item:last-child {
  margin-right: 0;
}

.gift-image {
  width: 100%;
  height: 250px;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1), 0 12px 32px rgba(0, 0, 0, 0.08);
}

.gift-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-width-image {
  margin-top: 24px;
  width: 100%;
  position: relative;
}

.full-width-image.smaller-margin {
  margin-top: 10px;
}

.full-width-image img {
  width: 100%;
  min-height: 280px;
  object-fit: cover;
}

.section-caption {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 0;
}

.footer {
  background-color: #37475a;
  text-align: center;
  color: white;
  margin-top: 40px;
}

.footer-link {
  padding-block: 10px;
}
.footer-link a {
  color: white;
  font-size: 14px;
}

.footer-logo {
  padding: 30px;
  background-color: #232f3e;
}

.footer-logo img {
  width: 100px;
}
